option domain-name     "{{domain}}";
option domain-name-servers     {{dns_server_ip}};
default-lease-time 600;
max-lease-time 7200;
authoritative;
subnet {{subnet}} netmask {{netmask}} {
    range dynamic-bootp {{min_address}} {{max_address}};
    option broadcast-address {{brodcast}};
    option routers {{gateway}};
    option domain-name-servers {{dns_server_ip}};
    option domain-search "{{domain}}";
    filename "{{filename}}";
    next-server {{dns_server_ip}};
    host {{server_hostname}}.{{cluster}}.{{domain}} { hardware ethernet {{server_mac}}; fixed-address {{server_ip}}; option host-name "{{server_hostname}}"; }
    

}
