$TTL 86400
@ IN SOA {{dns_hostname}}.{{domain}}. {{admin_hostname}}.{{domain}}. (
  2011071001 ; Serial
  3600       ; Refresh
  1800       ; Retry
  604800     ; Expire
  86400     ; Minimum
)
@ 	IN NS {{dns_hostname}}.{{domain}}.
@	IN A  {{dns_server_ip}}
{{dns_hostname}}   IN A    {{dns_server_ip}}
{{api_hostname}}     IN A    {{dns_server_ip}}
{{api_int_hostname}} IN A    {{dns_server_ip}}
*.{{wildcard}}  IN A    {{dns_server_ip}}
{{server_hostname}} IN A  {{server_ip}}

