$TTL 86400
@ IN SOA {{dns_hostname}}.{{domain}}. {{admin_hostname}}.{{domain}}. (
  2011071001 ; Serial
  3600       ; Refresh
  1800       ; Retry
  604800     ; Expire
  86400      ; Minimum
)
@	IN NS {{dns_hostname}}.{{domain}}.
@	IN PTR {{domain}}

{{server_dig}}      IN PTR  {{api_hostname}}.{{domain}}.
{{server_dig}}      IN PTR  {{api_int_hostname}}.{{domain}}.
{{server_sno_dig}}	IN PTR  {{server_hostname}}.{{domain}}.

