global
    log         /dev/log        local0
    chroot      /var/lib/haproxy
    user        haproxy
    group       haproxy
    daemon

defaults
    log                     global
    mode		    http
    option 		    httplog
    option 		    dontlognull
    timeout connect         10s
    timeout client          1m
    timeout server          1m

#############################################
#round robin balancing for OCP kuberntes API server
#############################################

frontend sno_k8s_api
    bind *:{{k8s_api_port}}
    mode {{mode}}
    default_backend sno_k8s_api_backend
backend sno_k8s_api_backend
    balance     {{balance}}
    mode {{mode}}
    server  {{server_hostname}} {{server_ip}}:{{k8s_api_port}} check     


##############################################
# round robin balancing for RHCOS Machine Config Server
#############################################

frontend sno_machine_config
    bind *:{{machine_config_port}}
    mode {{mode}}
    default_backend sno_machine_config_backend
backend sno_machine_config_backend
    balance     {{balance}}
    mode {{mode}}
    server  {{server_hostname}} {{server_ip}}:{{machine_config_port}} check    


##############################################
# round robin balancing for RHCOS Ingress Secure Port
##############################################

frontend sno_ingress_insecure
    bind *:{{ingress_insecure_port}}
    mode {{mode}}
    default_backend sno_ingress_insecure_backend
backend sno_ingress_insecure_backend
    balance     {{balance}}
    mode {{mode}}
    server  {{server_hostname}} {{server_ip}}:{{ingress_insecure_port}} check



#################################################
# round robin balancing for RHCOS Ingress Secure Port
###############################################

frontend sno_ingress_secure
    bind *:{{ingress_secure_port}}
    mode {{mode}}
    default_backend sno_ingress_secure_backend
backend sno_ingress_secure_backend
    balance     {{balance}}
    mode {{mode}}
    server  {{server_hostname}} {{server_ip}}:{{ingress_secure_port}} check


#####################################################
# Exposing HAProxy Statistic Page
###################################################

listen stats
    bind :{{stats_port}}
    stats enable
    stats uri /
    stats hide-version
    stats auth {{auth}}


